$bdc: #ddd;
$bgc: #fff4fa;

$space-y: 8px;

.pm-checklist {
  max-width: 1200px;
  margin: 0 auto;
}

.pm-group {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.pm {
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 5px;
  border-radius: 10%;
  border: 1px solid $bdc;
  cursor: pointer;
  overflow: hidden;
}

.pm-info {
  font-size: calc(5vmin + 70px);
  width: 1em;
  height: 1em;
  border-radius: inherit;
  background-size: var(--bgz, contain);
  background-position: var(--bgp, 100% 100%);
  background-repeat: no-repeat;
  text-align: left;

  // storke box
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: inherit;
    border: 3px solid hsl(60, 90%, 45%);
    opacity: 0;
  }

  // pm name
  &::after {
    content: attr(data-name);
    position: relative;
    z-index: 1;
    display: block;
    padding: 5px $space-y 15px;
    font-size: 14px;
    color: #444;
    text-shadow: 1px 1px 0px #eef;
    background-image:
      // gradients tool: https://larsenwork.com/easing-gradients/
      linear-gradient(
        to bottom,
        hsla(0, 0%, 100%, 0.9) 0%,
        hsla(0, 0%, 100%, 0.889) 11.2%,
        hsla(0, 0%, 100%, 0.856) 21%,
        hsla(0, 0%, 100%, 0.806) 29.6%,
        hsla(0, 0%, 100%, 0.742) 37.1%,
        hsla(0, 0%, 100%, 0.667) 43.7%,
        hsla(0, 0%, 100%, 0.583) 49.6%,
        hsla(0, 0%, 100%, 0.495) 55%,
        hsla(0, 0%, 100%, 0.405) 60%,
        hsla(0, 0%, 100%, 0.317) 64.8%,
        hsla(0, 0%, 100%, 0.233) 69.6%,
        hsla(0, 0%, 100%, 0.158) 74.6%,
        hsla(0, 0%, 100%, 0.094) 80%,
        hsla(0, 0%, 100%, 0.044) 85.9%,
        hsla(0, 0%, 100%, 0.011) 92.5%,
        hsla(0, 0%, 100%, 0) 100%
      );
  }

  .pm:hover &,
  .sr-only:focus + & {
    &::before {
      opacity: 0.3;
    }
  }

  .sr-only:checked + & {
    background-color: hsl(33, 100%, 97%);

    &::before {
      opacity: 1;
    }
  }
}

.counter {
  color: rgba(#fff, .6);
  padding-top: 1em;

  [data-total]::before {
    content: attr(data-total);
    font-size: 1.3em;
    color: rgba(#fff, 1);
  }

  [data-counter]::after {
    content: attr(data-counter);
    font-size: 1.3em;
    font-weight: bolder;
    color: rgba(#fff, 1);
  }
}

.header {
  position: relative;
  margin-bottom: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-image: linear-gradient(-230deg, #9e9e9e, #ff5722);
  background-color: #d35fa0;
  color: #fff;
  font-family: sans-serif;

  h1 {
    margin-bottom: 1rem;
  }
}

.nickname {
  padding: 3px 5px;
  font-size: larger;
}

.update {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .25em;
  color: rgba(#fff, .5);
  font-size: smaller;
  font-family: monospace;
}

.click-link {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 10px 2px;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: 1em;
  text-decoration: none;
  color: #9c27b0;
  border-bottom: 1px dashed;
  cursor: pointer;
}

button {
  padding: 5px 10px;
}

.ta-r {
  text-align: right;
}

.reset {
  margin-bottom: 3em;
}

.share {
  &::after {
    font-family: monospace;
    content: ' 🔗';
  }
}

.get-shorturl {

  [data-l10n="get-short-url"] {
    &::after {
      font-family: monospace;
      content: ' 💋';
    }
  }

  [data-l10n="share-with-short-url"] {
    display: none;
  }

  &::after {
    white-space: pre;
  }

  &[href^="http"] {
    display: inline-flex;
    flex-direction: column;

    [data-l10n="get-short-url"] { display: none; }
    [data-l10n="share-with-short-url"] {
      display: block;

    }

    &::after {
      display: inline-flex;
      font-family: monospace;
      content: attr(href) ' 🔗';
    }
  }

  &.is-fetching {
    display: inline-flex;
    flex-direction: column;

    &::after {
      content: '...';
      padding-left: .5em;
      padding-right: .5em;
      animation: waiting 1s infinite;

      @keyframes waiting {
        0%, 100%  { content: '.  '; }
        16% { content: '.. '; }
        32% { content: '...'; }
        48% { content: ' ..'; }
        64% { content: '  .'; }
        80% { content: '   '; }
      }
    }
  }
}


.pm-info {
  &[data-dex="1"] {
    --bgz: 170% 170%;
    --bgp: -.27em -.5em;
  }
  &[data-dex="2"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.33em;
  }
  &[data-dex="3"] {
    --bgz: 130% 130%;
    --bgp: .01em -.18em;
  }
  &[data-dex="4"] {
    --bgz: 170% 170%;
    --bgp: -.27em -.56em;
  }
  &[data-dex="5"] {
    --bgz: 150% 150%;
    --bgp: -.2em -.36em;
  }
  &[data-dex="6"] {
    --bgz: 160% 160%;
    --bgp: -.06em -.4em;
  }
  &[data-dex="7"] {
    --bgz: 170% 170%;
    --bgp: -.26em -.55em;
  }
  &[data-dex="8"] {
    --bgz: 150% 150%;
    --bgp: -.18em -.42em;
  }
  &[data-dex="9"] {
    --bgz: 130% 130%;
    --bgp: .03em -.04em;
  }
  &[data-dex="25"] {
    --bgz: 130% 130%;
    --bgp: 0em -.17em;
  }
  &[data-dex="26"] {
    --bgz: 150% 150%;
    --bgp: -.16em -.45em;
  }
  &[data-dex="29"] {
    --bgz: 170% 170%;
    --bgp: -.23em -.51em;
  }
  &[data-dex="30"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.31em;
  }
  &[data-dex="31"] {
    --bgz: 130% 130%;
    --bgp: .04em -.1em;
  }
  &[data-dex="58"] {
    --bgz: 140% 140%;
    --bgp: -.1em -.23em;
  }
  &[data-dex="59"] {
    --bgz: 120% 120%;
    --bgp: .02em -.07em;
  }
  &[data-dex="74"] {
    --bgz: 150% 150%;
    --bgp: -.16em -.16em;
  }
  &[data-dex="75"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.17em;
  }
  &[data-dex="76"] {
    --bgz: 120% 120%;
    --bgp: .01em -.03em;
  }
  &[data-dex="88"] {
    --bgz: 115% 115%;
    --bgp: .06em -.02em;
  }
  &[data-dex="89"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.13em;
  }
  &[data-dex="90"] {
    --bgz: 160% 160%;
    --bgp: -.2em -.43em;
  }
  &[data-dex="91"] {
    --bgz: 140% 140%;
    --bgp: -.1em -.18em;
  }
  &[data-dex="96"] {
    --bgz: 120% 120%;
    --bgp: .02em -.07em;
  }
  &[data-dex="97"] {
    --bgz: 110% 110%;
    --bgp: .12em -.01em;
  }
  &[data-dex="98"] {
    --bgz: 130% 130%;
    --bgp: -.02em -.16em;
  }
  &[data-dex="99"] {
    --bgz: 120% 120%;
    --bgp: .06em -.07em;
  }
  &[data-dex="126"] {
    --bgz: 120% 120%;
    --bgp: .06em -.07em;
  }
  &[data-dex="129"] {
    --bgz: 140% 140%;
    --bgp: -.14em -.26em;
  }
  &[data-dex="130"] {
    --bgz: 130% 130%;
    --bgp: .09em -.17em;
  }
  &[data-dex="133"] {
    --bgz: 170% 170%;
    --bgp: -.25em -.44em;
  }
  &[data-dex="134"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.33em;
  }
  &[data-dex="135"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.33em;
  }
  &[data-dex="136"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.33em;
  }
  &[data-dex="138"] {
    --bgz: 170% 170%;
    --bgp: -.3em -.44em;
  }
  &[data-dex="139"] {
    --bgz: 140% 140%;
    --bgp: -.1em -.2em;
  }
  &[data-dex="140"] {
    --bgz: 170% 170%;
    --bgp: -.3em -.44em;
  }
  &[data-dex="141"] {
    --bgz: 120% 120%;
    --bgp: .06em -.04em;
  }
  &[data-dex="142"] {
    --bgz: 130% 130%;
    --bgp: .1em -.17em;
  }
  &[data-dex="144"] {
    --bgz: 130% 130%;
    --bgp: .01em -.22em;
  }
  &[data-dex="145"] {
    --bgz: 140% 140%;
    --bgp: -.06em -.15em;
  }
  &[data-dex="146"] {
    --bgz: 110% 110%;
    --bgp: .07em -.04em;
  }
  &[data-dex="147"] {
    --bgz: 150% 150%;
    --bgp: -.16em -.37em;
  }
  &[data-dex="148"] {
    --bgz: 140% 140%;
    --bgp: -.1em -.21em;
  }
  &[data-dex="149"] {
    --bgz: 140% 140%;
    --bgp: -.1em -.27em;
  }
  &[data-dex="152"] {
    --bgz: 170% 170%;
    --bgp: -.27em -.52em;
  }
  &[data-dex="153"] {
    --bgz: 120% 120%;
    --bgp: .02em -.13em;
  }
  &[data-dex="154"] {
    --bgz: 110% 110%;
    --bgp: .07em -.05em;
  }
  &[data-dex="172"] {
    --bgz: 130% 130%;
    --bgp: -.0em -.2em;
  }
  &[data-dex="175"] {
    --bgz: 150% 150%;
    --bgp: -.18em -.36em;
  }
  &[data-dex="176"] {
    --bgz: 150% 150%;
    --bgp: -.17em -.37em;
  }
  &[data-dex="177"] {
    --bgz: 150% 150%;
    --bgp: -.15em -.42em;
  }
  &[data-dex="178"] {
    --bgz: 120% 120%;
    --bgp: .02em .02em;
  }
  &[data-dex="179"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.23em;
  }
  &[data-dex="180"] {
    --bgz: 130% 130%;
    --bgp: -.06em -.16em;
  }
  &[data-dex="181"] {
    --bgz: 120% 120%;
    --bgp: .02em -.03em;
  }
  &[data-dex="191"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.4em;
  }
  &[data-dex="192"] {
    --bgz: 140% 140%;
    --bgp: -.06em -.25em;
  }
  &[data-dex="196"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.33em;
  }
  &[data-dex="197"] {
    --bgz: 130% 130%;
    --bgp: -.01em -.15em;
  }
  &[data-dex="198"] {
    --bgz: 150% 150%;
    --bgp: -.16em -.33em;
  }
  &[data-dex="202"] {
    --bgz: 130% 130%;
    --bgp: -.0em -.17em;
  }
  &[data-dex="360"] {
    --bgz: 130% 130%;
    --bgp: -.09em -.17em;
  }
  &[data-dex="204"] {
    --bgz: 150% 150%;
    --bgp: -.2em -.2em;
  }
  &[data-dex="205"] {
    --bgz: 110% 110%;
    --bgp: .11em .03em;
  }
  &[data-dex="209"] {
    --bgz: 140% 140%;
    --bgp: -.12em -.27em;
  }
  &[data-dex="210"] {
    --bgz: 110% 110%;
    --bgp: .02em -.02em;
  }
  &[data-dex="228"] {
    --bgz: 150% 150%;
    --bgp: -.2em -.35em;
  }
  &[data-dex="229"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.12em;
  }
  &[data-dex="240"] {
    --bgz: 140% 140%;
    --bgp: -.06em -.32em;
  }
  &[data-dex="246"] {
    --bgz: 150% 150%;
    --bgp: -.16em -.38em;
  }
  &[data-dex="247"] {
    --bgz: 130% 130%;
    --bgp: 0em -.17em;
  }
  &[data-dex="248"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.06em;
  }
  &[data-dex="249"] {
    --bgz: 130% 130%;
    --bgp: 0em -.13em;
  }
  &[data-dex="250"] {
    --bgz: 130% 130%;
    --bgp: .04em -.25em;
  }
  &[data-dex="261"] {
    --bgz: 130% 130%;
    --bgp: -.03em -.13em;
  }
  &[data-dex="262"] {
    --bgz: 130% 130%;
    --bgp: -.03em -.13em;
  }
  &[data-dex="278"] {
    --bgz: 130% 130%;
    --bgp: -.13em -.08em;
  }
  &[data-dex="279"] {
    --bgz: 100% 100%;
    --bgp: .15em 0em;
  }
  &[data-dex="296"] {
    --bgz: 130% 130%;
    --bgp: -.08em -.12em;
  }
  &[data-dex="297"] {
    --bgz: 130% 130%;
    --bgp: -.08em -.09em;
  }
  &[data-dex="302"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.15em;
  }
  &[data-dex="303"] {
    --bgz: 140% 140%;
    --bgp: -.14em -.27em;
  }
  &[data-dex="304"] {
    --bgz: 130% 130%;
    --bgp: -.0em -.15em;
  }
  &[data-dex="305"] {
    --bgz: 120% 120%;
    --bgp: .02em -.06em;
  }
  &[data-dex="306"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.12em;
  }
  &[data-dex="307"] {
    --bgz: 150% 150%;
    --bgp: -.16em -.32em;
  }
  &[data-dex="308"] {
    --bgz: 130% 130%;
    --bgp: 0em -.15em;
  }
  &[data-dex="311"] {
    --bgz: 140% 140%;
    --bgp: -.1em -.25em;
  }
  &[data-dex="312"] {
    --bgz: 140% 140%;
    --bgp: -.1em -.25em;
  }
  &[data-dex="315"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.37em;
  }
  &[data-dex="320"] {
    --bgz: 140% 140%;
    --bgp: -.01em -.18em;
  }
  &[data-dex="321"] {
    --bgz: 150% 150%;
    --bgp: -.12em -.29em;
  }
  &[data-dex="333"] {
    --bgz: 150% 150%;
    --bgp: -.11em -.32em;
  }
  &[data-dex="334"] {
    --bgz: 150% 150%;
    --bgp: -.06em -.27em;
  }
  &[data-dex="353"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.17em;
  }
  &[data-dex="354"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.13em;
  }
  &[data-dex="355"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.07em;
  }
  &[data-dex="356"] {
    --bgz: 130% 130%;
    --bgp: 0em -.13em;
  }
  &[data-dex="359"] {
    --bgz: 130% 130%;
    --bgp: 0em -.13em;
  }
  &[data-dex="361"] {
    --bgz: 130% 130%;
    --bgp: -.04em -.16em;
  }
  &[data-dex="362"] {
    --bgz: 120% 120%;
    --bgp: .1em -.02em;
  }
  &[data-dex="370"] {
    --bgz: 130% 130%;
    --bgp: -.05em -.1em;
  }
  &[data-dex="382"] {
    --bgz: 150% 150%;
    --bgp: -.28em -.2em;
  }
  &[data-dex="403"] {
    --bgz: 130% 130%;
    --bgp: -.03em -.22em;
  }
  &[data-dex="404"] {
    --bgz: 130% 130%;
    --bgp: -.06em -.23em;
  }
  &[data-dex="405"] {
    --bgz: 110% 110%;
    --bgp: .05em -.03em;
  }
}

[data-l10n]:not([data-l10n-done="1"]) {
  color: transparent;
}


body.print {
  width: 1200px;
  aside,
  footer {
    visibility: hidden;
  }
}


//

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: $bgc;
  overflow-y: scroll;
}

.sr-only {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

footer {
  position: relative;

  .ib {
    display: inline-block;
  }

  mark {
    display: block;
    clear: both;
    background-color: #ccc;
    color: #333;
    padding: .5em 1em;
    font-family: monospace;
  }
}

.info {
  float: right;
  right: 0;
  text-align: left;
  margin-bottom: 1em;
  padding: 2em 1em 1em;
  font-size: .85em;
  font-style: italic;
  font-family: serif;
  opacity: .75;

  a {
    color: inherit;
  }
}
