@import "ui.css";
@import "pm.css";

:root {
  --link-color: #9c27b0;
  --link-color-inactive: #aaa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  overflow-y: scroll;
  background-color: #fff4fa;
}

.button,
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: .2em .4em;
  margin: 0 0 .5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

.button,
button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

hr {
  width: 100%;
  margin: 1.5rem 0;
  border: 1px dashed rgba(0, 0, 0, .1);
}

input {
  max-width: 9em;
}

.clickable {
  display: inline-block;
  text-decoration: none;
  padding: .25em .5em .25em;
  color: var(--link-color);
  cursor: pointer;
  border-bottom: 1px dashed;
  margin-left: .25em;
  margin-right: .25em;

  input:not(:checked) + & {
    color: var(--link-color-inactive);
  }
}

.db {
  display: block;
}

.df {
  display: flex;
}

.ai-c {
  align-items: center;
}

.ml-a {
  margin-left: auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

.m-0 {
  margin: 0;
}

.workspace {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
}

body.print {
  pointer-events: none;
}

body.print .workspace {
  min-height: unset;
}

body.print .hide-for-print {
  display: none !important;
}

body.print .show-for-print {
  display: initial !important;
}

.sr-only {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.footer-button {
  --footer-btn-fz: 1rem;
  --footer-btn-bgc-active: #ffc;

  position: fixed;
  top: unset;
  left: .5rem;
  bottom: .5rem;
  width: 2em;
  height: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: unset;
  z-index: 15;
  font-size: var(--footer-btn-fz);
  /* opacity: var(--btn-opacity, .7); */
  color: #999;

  &:hover {
    /* --btn-opacity: 1; */
    color: inherit;
  }

  input[type="checkbox"]:focus + & {
    border: 1px solid #666;
  }

  input[type="checkbox"]:checked + &,
  &:active {
    box-shadow: inset 1px 1px 2px #acc;
    background-color: var(--footer-btn-bgc-active);
  }
}

@media (min-width: 777px) and (min-height: 666px) {
  .footer-button {
    --footer-btn-fz: 1.5rem;
    bottom: 1rem;
  }
}

.icon {
  font-weight: normal;
}
